@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400,300);
/* UNIVERSAL */
* {
  transition-duration: 0.2s;
}
.min-height {
  min-height: 600px;
}
.primary-font {
  font-family: 'Lobster', serif;
}
.secondary-font {
  font-family: 'Raleway', Sans-Serif;
}
.white-text {
  color: #FFFFFF;
}
.orange-text {
  color: #F8512F;
}
.thin-text {
  font-weight: 300;
}
.thick-text {
  font-weight: 700;
}
.orange-bg {
  background-color: #F8512F;
}


/* Nav Bar styles*/
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: rgba(0, 0, 0, .75);
    text-shadow: 2px 2px 2px #000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(0,0,0,.25);
  color: #f8512F; /* Base Orange */
}

/* Carousel Styles*/
.item {
  height: 550px;
  background-size: cover;
  background-position: center;
}

#wood-bg {
  background-image: url('../img/wood-2.jpg');
}

#carousel-logo {
  height: 200px;
}

.flex-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

#seating-bg {
  background-image: url('../img/restaurant-2.jpg');
}

#farm-bg {
  background-image: url('../img/farm-2.jpg');
}

.carousel-caption {
  padding-bottom: 10em;
}
.btn-warning :{
  background-color: #F8512F;
  border: none;
}
.btn-warning: hover {
  background-color: #D34326;
}

/*Our story styles*/

#our_story .row{
  margin-top: 30px;
}

#our_story h1 {
  font-size: 6em;
  margin-top: 0;
  text-shadow: 1px 1px 2px #515151;
}

#our_story h3 {
  font-size: 2 em;
  margin-top: 0;
}

.story-year {
  padding: 0px 50px;
  font-family: "Playfair Display", serif;
  font-size: 200px;
  position: absolute;
  z-index: -1;
  color: rgba(149, 147, 147, 0.2);

}
/*.year-text {
  position: absolute;
  z-index: 0;
}*/

/* REVIEW */

#review {
  background-image: url('../img/food_review.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#review .center {
  display: flex;
  justify-content: center;
  align-items:center;
}

.review-container {
  padding: 10px 15px;
  background-color: rgba(20,20,20,0.6);
  border-radius: 4px;
}

.review-container h1 {
  font-size: 5em;
  text-shadow: 1px 1px 5px #0a0a0a;
}

.review-container p {
  font-size: 2em;
  text-shadow: 1px 1px 5px #0a0a0a;
}
